.metro_icon{ background:url("metro_icon.png") top left no-repeat; }
.icon-simple_global{ width:165px; height:165px; background-position:-1px -1px; }
.icon-system_connection{ width:164px; height:165px; background-position:-1px -167px; }
.icon-simple_up{ width:164px; height:165px; background-position:-1px -333px; }
.icon-simple_sync{ width:164px; height:165px; background-position:-1px -499px; }
.icon-simple_star{ width:164px; height:165px; background-position:-1px -665px; }
.icon-simple_heart{ width:165px; height:165px; background-position:-1px -831px; }
.icon-simple_right{ width:164px; height:165px; background-position:-1px -997px; }
.icon-simple_left{ width:164px; height:165px; background-position:-1px -1163px; }
.icon-view_list{ width:164px; height:165px; background-position:-1px -1329px; }
.icon-view_chain{ width:164px; height:165px; background-position:-1px -1495px; }
.icon-view_icons{ width:164px; height:165px; background-position:-1px -1661px; }
.icon-view_details{ width:165px; height:165px; background-position:-1px -1827px; }
.icon-message_like{ width:164px; height:165px; background-position:-1px -1993px; }
.icon-message_e-mail{ width:165px; height:165px; background-position:-1px -2159px; }
.icon-message_comment{ width:164px; height:165px; background-position:-1px -2325px; }
.icon-message_share{ width:164px; height:165px; background-position:-1px -2491px; }
.icon-system_print{ width:164px; height:165px; background-position:-1px -2657px; }
.icon-system_delete{ width:165px; height:165px; background-position:-1px -2823px; }
.icon-system_settings{ width:164px; height:165px; background-position:-1px -2989px; }
.icon-organise_favourite{ width:164px; height:165px; background-position:-1px -3155px; }
.icon-organise_edit{ width:165px; height:165px; background-position:-1px -3321px; }
.icon-organise_select{ width:164px; height:165px; background-position:-1px -3487px; }
.icon-organise_number_list{ width:164px; height:165px; background-position:-1px -3653px; }
.icon-shopping_bag{ width:164px; height:165px; background-position:-1px -3819px; }
.icon-shopping_credit_card{ width:165px; height:165px; background-position:-1px -3985px; }
.icon-shopping_tag{ width:164px; height:165px; background-position:-1px -4151px; }
.icon-shopping_cart{ width:164px; height:165px; background-position:-1px -4317px; }
.icon-time_stopwatch{ width:164px; height:165px; background-position:-1px -4483px; }
.icon-city_layer{ width:164px; height:165px; background-position:-1px -4649px; }
.icon-city_find_me{ width:165px; height:165px; background-position:-1px -4815px; }
.icon-city_map{ width:164px; height:165px; background-position:-1px -4981px; }
.icon-city_compass{ width:164px; height:165px; background-position:-1px -5147px; }
.icon-time_alarm{ width:164px; height:165px; background-position:-1px -5313px; }
.icon-time_clock{ width:165px; height:165px; background-position:-1px -5479px; }
.icon-time_timer{ width:164px; height:165px; background-position:-1px -5645px; }
.icon-file_folder{ width:164px; height:164px; background-position:-1px -5811px; }
.icon-call_card{ width:164px; height:164px; background-position:-1px -5976px; }
.icon-call_dialpad{ width:165px; height:164px; background-position:-1px -6141px; }
.icon-call_contacts{ width:164px; height:164px; background-position:-1px -6306px; }
.icon-call_phone{ width:164px; height:164px; background-position:-1px -6471px; }
.icon-transform_cut{ width:164px; height:164px; background-position:-1px -6636px; }
.icon-transform_contract{ width:165px; height:164px; background-position:-1px -6801px; }
.icon-transform_expand{ width:164px; height:164px; background-position:-1px -6966px; }
.icon-record_camcorder{ width:164px; height:164px; background-position:-1px -7131px; }
.icon-record_camera{ width:165px; height:164px; background-position:-1px -7296px; }
.icon-record_microphone{ width:164px; height:164px; background-position:-1px -7461px; }
.icon-network_satellite{ width:165px; height:164px; background-position:-1px -7626px; }
.icon-network_transmitter{ width:164px; height:164px; background-position:-1px -7791px; }
.icon-network_rss{ width:164px; height:164px; background-position:-1px -7956px; }
.icon-network_planet{ width:164px; height:164px; background-position:-1px -8121px; }
.icon-simple_cancel{ width:164px; height:164px; background-position:-1px -8286px; }
.icon-simple_approve{ width:165px; height:164px; background-position:-1px -8451px; }
.icon-simple_minus{ width:164px; height:164px; background-position:-1px -8616px; }
.icon-business_linkedin{ width:164px; height:164px; background-position:-1px -8781px; }
.icon-business_graph{ width:165px; height:164px; background-position:-1px -8946px; }
.icon-business_brief_case{ width:164px; height:164px; background-position:-1px -9111px; }
.icon-business_money{ width:164px; height:164px; background-position:-1px -9276px; }
.icon-media_music{ width:164px; height:164px; background-position:-1px -9441px; }
.icon-media_sound{ width:165px; height:164px; background-position:-1px -9606px; }
.icon-media_video{ width:164px; height:164px; background-position:-1px -9771px; }
.icon-media_picture{ width:164px; height:164px; background-position:-1px -9936px; }
.icon-simple_plus{ width:164px; height:164px; background-position:-1px -10101px; }
.icon-social_youtube{ width:164px; height:164px; background-position:-1px -10266px; }
.icon-social_google_plus{ width:165px; height:164px; background-position:-1px -10431px; }
.icon-social_twitter{ width:164px; height:164px; background-position:-1px -10596px; }
.icon-airport_airplane{ width:164px; height:164px; background-position:-1px -10761px; }
.icon-airport_department{ width:165px; height:164px; background-position:-1px -10926px; }
.icon-airport_arrival{ width:164px; height:164px; background-position:-1px -11091px; }
.icon-route_location{ width:164px; height:164px; background-position:-1px -11256px; }
.icon-route_walk{ width:165px; height:164px; background-position:-1px -11421px; }
.icon-route_car{ width:164px; height:164px; background-position:-1px -11586px; }
.icon-social_facebook{ width:164px; height:164px; background-position:-1px -11751px; }
.icon-security_eye{ width:164px; height:164px; background-position:-1px -11916px; }
.icon-security_unlock{ width:165px; height:164px; background-position:-1px -12081px; }
.icon-security_lock{ width:164px; height:164px; background-position:-1px -12246px; }
.icon-security_key{ width:164px; height:164px; background-position:-1px -12411px; }
.icon-access_home{ width:164px; height:164px; background-position:-1px -12576px; }
.icon-access_info{ width:165px; height:164px; background-position:-1px -12741px; }
.icon-access_find{ width:164px; height:164px; background-position:-1px -12906px; }
.icon-access_pin{ width:164px; height:164px; background-position:-1px -13071px; }
.icon-cloud_flag{ width:164px; height:164px; background-position:-1px -13236px; }
.icon-cloud_attachment{ width:165px; height:164px; background-position:-1px -13401px; }
.icon-cloud_upload{ width:164px; height:164px; background-position:-1px -13566px; }
.icon-route_bike{ width:164px; height:164px; background-position:-1px -13731px; }
.icon-transport_metro{ width:164px; height:164px; background-position:-1px -13896px; }
.icon-transport_train{ width:165px; height:164px; background-position:-1px -14061px; }
.icon-transport_bus{ width:164px; height:164px; background-position:-1px -14226px; }
.icon-transport_tram{ width:164px; height:164px; background-position:-1px -14391px; }
.icon-date_reminder{ width:164px; height:164px; background-position:-1px -14556px; }
.icon-date_week{ width:165px; height:164px; background-position:-1px -14721px; }
.icon-date_calendar{ width:164px; height:164px; background-position:-1px -14886px; }
.icon-date_task{ width:164px; height:164px; background-position:-1px -15051px; }
.icon-file_help{ width:164px; height:164px; background-position:-1px -15216px; }
.icon-file_save{ width:165px; height:164px; background-position:-1px -15381px; }
.icon-file_file{ width:164px; height:164px; background-position:-1px -15546px; }
.icon-cloud_download{ width:164px; height:164px; background-position:-1px -15711px; }

