<div class="section about" id="about">
	<div class="container">
		<div class="arrow 03">
			<img src="images/arrow/arrow_03.png" alt="arrow_03">
		</div> 
		<div class="subheader">
			<div class="subheader-icon"></div>
			<div class="subheader-text">
				Nosotros <span>Quienes Somos. Conózcanos mejor.</span>
			</div>
		</div>         
		<div class="col-md-6 m-top-50">
			<div class="m-bottom-40 summary">
				We  are a small group of seti per se neque porro quisquam est, quister set dolorem per sei donec...
			</div>
			<div class="m-bottom-40 summary-small">
				Sed ut perspiciatis unde omnis iste natus error sit voluptatema accusantium terre estere doloremque laudantium, totames remeseo aperiam, eaque ipsa quae ab illo inventore veritatis et quasi. 
			</div>
			<p>
				Sed ut perspiciatis unde omnis iste natus error sit voluptatema accusantium terre estere doloremque laudantium, totames remeseo aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beataes vitae dicta sunt explicabo. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur Quis autem vel enum iure reprehenderit. Sed ut perspiciatis unde omnis iste natus error sit voluptatema accusantium terre estere.
			</p>
		</div>
		<div class="col-md-6  m-top-50">
			<img src="images/about/about_image.png" class="m-bottom-50" alt="image_01">
			<p>
				Terre estere doloremque laudantium, totames remeseo aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beataes vitae dicta sunt explicabo. Ut enim ad minima.
			</p>
			<p>
				Nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam.
			</p>
		</div>
		<div class="clear"></div>
	</div>                
</div>
