<div class="section contact-us" id="contact-us">
          <div class="container">
            <div class="arrow 05">
              <img src="images/arrow/arrow_05.png" alt="arrow_05">
            </div>
            <div class="subheader">
              <div class="subheader-icon"></div>
              <div class="subheader-text">
                Contacto <span>Manténgase en contacto con nosotros. No hagas spam.</span>
              </div>
            </div>

            <div class="col-md-5 m-top-50">
              <div class="summary m-bottom-40 col-md-12">
                Datos de Contacto
              </div>

              <div class="col-md-12 col-sm-6">
                <address class="m-bottom-22">
                  <span class="glyphicon glyphicon-map-marker"></span><strong> Dirección</strong><br>
                  Salcedo 1315 <br>
                  Lomas del Mirador - La Matanza<br>
                </address>

                <address class="m-bottom-22">
                  <span class="glyphicon glyphicon-earphone"></span><strong> Teléfonos</strong><br>
                  <!-- <abbr title="Teléfono">Tel:</abbr> 3528 - 2463<br> -->
                  <abbr title="Celular">Cel:</abbr> 11 5760-0955<br>
                  <abbr title="Celular">Cel:</abbr> 11 6993-9316<br>
                  <abbr title="Nextel">ID:</abbr> 566*4932<br>
                </address>
              </div>

              <div class="col-md-6 m-bottom-22">
                <address class="m-bottom-22">
                  <span class="glyphicon glyphicon-time"></span><strong> Horario de Atención</strong><br>
                  Lunes a Viernes de 09 a 19 hs.<br>
                  Sábados de 09 a 14 hs.
                </address>

                <address class="m-bottom-22">
                  <span class="glyphicon glyphicon-envelope"></span><strong> Email</strong><br>
                  <a href="mailto:info@axelpasacalles.com.ar">info@axelpasacalles.com.ar</a>
                </address>

                <div class="socio_contact m-bottom-22">
                  <ul>
                    <li><a href="https://www.facebook.com/axelpasacalles" target="_blank" class="socio_contact_facebook"></a></li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>

            <div class="col-md-7 m-top-50 contact-form contact-us-x">

              <div class="col-md-12">
                <div class="summary m-bottom-40">
                  Consultas
                </div>
              </div>
              <div class="clear"></div>    

              <form id="form" name="form" method="post" action="enviar.php" role="form">
                <fieldset>
                  <!-- Text input-->
                  <div class="form-group col-md-6" ng-class="{'has-error' : form.nombre.$invalid && !form.nombre.$pristine }">
                    <label class="control-label" for="nombre">Nombre *</label>
                    <input name="nombre" type="text" placeholder="ingrese su nombre..." class="form-control" required ng-maxlength="50" ng-model="nombre">
                    <span class="help-block" ng-show="form.nombre.$invalid && !form.nombre.$pristine && !form.nombre.$error.maxlength">Campo obligatorio</span>
                    <span class="help-block" ng-show="form.nombre.$error.maxlength">Ingrese un maximo de 50 caracteres</span>
                  </div>

                  <!-- Text input-->
                  <div class="form-group col-md-6" >
                    <label class="control-label" for="localidad">Localidad</label>
                    <input name="localidad" type="text" placeholder="ingrese su localidad..." class="form-control">
                  </div>

                  <!-- Text input-->
                  <div class="form-group col-md-6">
                    <label class="control-label" for="direccion">Dirección</label>
                    <input name="direccion" type="text" placeholder="ingrese su direccion..." class="form-control">
                  </div>

                  <!-- Text input-->
                  <div class="form-group col-md-6" ng-class="{'has-error' : form.telefono.$invalid && !form.telefono.$pristine }">
                    <label class="control-label" for="telefono">Teléfono</label>
                    <input name="telefono" type="text" placeholder="ingrese su teléfono" class="form-control" required ng-maxlength="20" ng-model="telefono">
                    <span class="help-block" ng-show="form.telefono.$invalid && !form.telefono.$pristine && !form.telefono.$error.maxlength">Campo obligatorio</span>
                    <span class="help-block" ng-show="form.telefono.$error.maxlength">Ingrese un maximo de 20 caracteres</span>
                  </div>

                  <!-- Text input-->
                  <div class="form-group col-md-12" ng-class="{'has-error' : form.email.$invalid && !form.email.$pristine }">
                    <label class="control-label" for="email">Email *</label>
                    <input name="email" type="email" placeholder="ingrese su email..." class="form-control" required ng-maxlength="50" ng-model="email">
                    <span class="help-block" ng-show="form.email.$invalid && !form.email.$pristine && !form.email.$error.maxlength">Ingrese un email válido</span>
                    <span class="help-block" ng-show="form.email.$error.maxlength">Ingrese un maximo de 50 caracteres</span>
                  </div>

                  <!-- Textarea -->
                  <div class="form-group col-md-12" ng-class="{'has-error' : form.mensaje.$invalid && !form.mensaje.$pristine }">
                    <label class="control-label" for="mensaje">Mensaje *</label>               
                    <textarea class="form-control" name="mensaje" placeholder="ingrese su consulta..." style="height: 184px;" required ng-maxlength="600" ng-model="mensaje"></textarea>
                    <span class="help-block" ng-show="form.mensaje.$invalid && !form.mensaje.$pristine && !form.mensaje.$error.maxlength">Campo obligatorio</span>
                    <span class="help-block" ng-show="form.mensaje.$error.maxlength">Ingrese un maximo de 600 caracteres</span>
                    <div class="pull-right">
                      <div class="form-group">
                        <button type="reset" id="borrar" name="borrar" class="btn btn-default">Borrar</button>
                        <button type="submit" id="btn_enviar" name="btn_enviar" class="btn btn-danger" ng-disabled="form.$invalid">Enviar</button>
                      </div>
                    </div>
                  </div>

                  <div class="clearfix"></div>

                </fieldset>
              </form>
            </div>
            <div class="clear"></div>
          </div>
          <!-- <div class="col-md-12 p-top-50 contact-us">
            <div class="row">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.4273861908173!2d-58.49981600000001!3d-34.64390799999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc9af00a4f967%3A0xf4892b728fe75db2!2sAxel+Pasacalles!5e0!3m2!1ses!2sar!4v1398710201466" width="100%" height="300" frameborder="0" style="border:0">
              </iframe>
            </div>
          </div> -->
          <div class="clear"></div>
        </div>