<!-- contenedor sidebar-->
    <div id="contenedor-sidebar">
      <ul id="menu" class="sidebar-nav">
        <li class="sidebar-brand">
          <a href="http://www.axelpasacalles.com.ar">
            <img src="images/logo_top-trans.png" class="logo_top" alt="logo axel pasacalles">
          </a>
        </li>
        <li>
          <div class="menu-abs-bg take-me-home" du-scrollspy="take-me-home"></div>
          <div class="menu-specs">
            <div class="home-icon"></div>
            <a href="#take-me-home" du-smooth-scroll title="Home">Home</a>
          </div>
        </li>
        <li>
          <div class="menu-abs-bg services" du-scrollspy="services"></div>
          <div class="menu-specs">
            <div class="services-icon"></div>
            <a href="#services" du-smooth-scroll title="Servicios">Servicio</a>
          </div>
        </li>
        <li>
          <div class="menu-abs-bg showcase" du-scrollspy="showcase"></div>
          <div class="menu-specs">
            <div class="portfolio-icon"></div>
            <a href="#showcase" du-smooth-scroll title="Galeria">Galeria</a>
          </div>
        </li>
        <li>
          <div class="menu-abs-bg contact-us" du-scrollspy="contact-us"></div>
          <div class="menu-specs">
            <div class="contact-icon"></div>
            <a href="#contact-us" du-smooth-scroll title="Contacto">Contacto</a>
          </div>
        </li>
      </ul>
    </div>
<!-- fin contenedor sidebar-->