<!-- contenedor sidebar-->
    <div id="contenedor-sidebar">
      <ul id="menu" class="sidebar-nav">
        <li class="sidebar-brand">
          <a href="http://www.axelpasacalles.com.ar">
            <img src="imagen/logo_top-trans.png" class="logo_top" alt="logo axel pasacalles">
          </a>
        </li>
        <li>
          <div class="menu-abs-bg take-me-home"></div>
          <div class="menu-specs">
            <div class="home-icon"></div>
            <a href="#take-me-home" class="nav-active" title="Home" target="">Home</a>
          </div>
        </li>
        <li>
          <div class="menu-abs-bg services"></div>
          <div class="menu-specs">
            <div class="services-icon"></div>
            <a href="#services" title="Servicios" target="">Servicios</a>
          </div>
        </li>
        <li>
          <div class="menu-abs-bg about"></div>
          <div class="menu-specs">
            <div class="aboutus-icon"></div>
            <a href="#about" title="Nosotros" target="">Nosotros</a>
          </div>
        </li>
        <li>
          <div class="menu-abs-bg showcase"></div>
          <div class="menu-specs">
            <div class="portfolio-icon"></div>
            <a href="#showcase" title="Galeria" target="">Galeria</a>
          </div>
        </li>
        <li>
          <div class="menu-abs-bg contact-us"></div>
          <div class="menu-specs">
            <div class="contact-icon"></div>
            <a href="#contact-us" title="Contacto" target="">Contacto</a>
          </div>
        </li>
      </ul>
    </div>
    <!-- fin contenedor sidebar-->